<div class="py2 post-footer">
  <h2>Feedback</h2>
  <p>
    Du willst den Text <a href="https://github.com/efelcie/efelcie.github.io/edit/master/{{ page.path }}">verbessern</a>? Tu es! Klick einfach und schlage mir die Verbesserung vor! Du brauchst nur einen (gratis) GitHub-Account. Ich liebe Verbesserung.
  </p>
  <p>
  	Die <a href="https://github.com/efelcie/efelcie.github.io/commits/master/{{ page.path }}">Veränderungen</a> seit der Veröffentlichung findest du auch auf GitHub.
  </p>
  <p>
  	Wenn du sonstige Anmerkungen, Kritik oder Wünsche für einen neuen Artikel hast. Sei so frei und tu das <a href="https://github.com/efelcie/efelcie.github.io/issues/new">hier</a>!
  </p>

</div>

